/* global styles reset */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    --Purple: hsl(259, 100%, 65%);
    --Light-red: hsl(0, 100%, 67%);
    /* neutral colors */
    --White: hsl(0, 0%, 100%);
    --Off-white: hsl(0, 0%, 94%);
    --Light-grey: hsl(0, 0%, 86%);
    --Smokey-grey: hsl(0, 1%, 44%);
    --Off-black: hsl(0, 0%, 8%);
}

@font-face {
    font-family: "extrabold";
    src: url("./assets/fonts/Poppins-ExtraBold.ttf");
}
@font-face {
    font-family: "bold";
    src: url("./assets/fonts/Poppins-Bold.ttf");
}

@font-face {
    font-family: "boldItalic";
    src: url("./assets/fonts/Poppins-BoldItalic.ttf");
}

@font-face {
    font-family: "extraboldItalic";
    src: url("./assets/fonts/Poppins-ExtraBoldItalic.ttf");
}

@font-face {
    font-family: "regula";
    src: url("./assets/fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: "poppinItalic";
    src: url("./assets/fonts/Poppins-Italic.ttf");
}

/* body styles */
body {
    background-color: var(--Off-white);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

/* main styles */
main {
    background-color: var(--White);
    padding: 3rem;
    border-radius: 1.5rem 1.5rem  20rem 1.5rem;
    /* width: 65%; */
}

/* form styles */
form {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 3rem;
    border-bottom: 1px solid var(--Light-grey);
}

.input-item {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

label {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-family: bold;
    color: var(--Light-grey);
}

input {
    padding: 1rem ;
    font-size: 2rem;
    width: 10rem;
    border: 1px solid var(--Light-grey);
    outline: none;
    font-family: bold;
}

/* active input state */
input:hover {
    cursor: pointer;
    border: 1px solid var(--Purple);
}

input[type="number"]:focus {
    border: 1px solid var(--Off-black);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

button {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-color: var(--Purple);
    outline: none;
    border: none;
    position: relative;
    top: 5rem;
}

button:hover {
    cursor: pointer;
    background: var(--Off-black);
}

 button img {
    padding: 1.5rem;
    width: 100%;
    height: 100%;
}

p {
    font-size: 6rem;
    font-family: extraboldItalic;
    text-transform: lowercase;
    line-height: 1;
    /* border: 1px solid blue; */
}

p span {
    color: var(--Purple);
    font-size: 6rem;
}
